header {
    font-size: 75px;
    text-align: center;
    font-family: 'Henny Penny', cursive;
    text-shadow: 2px 3px;
}
body {
    background-image: linear-gradient(#3e1a78, #5049cb, #7bade3, #f1eeff, #99e8c2, #26ceaa, #078d70);
}
body a{
    color: cyan;
}
li {
    float: left;
    background-color: aqua;
}
li a {
    padding:10px;
    display: block;
    color: seagreen;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-color:white;
    font-family: 'Henny Penny', cursive;
}
li a:hover {
    background-color:Light Blue;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: blue;
}
body h1{
    font-size:30px;
    text-align: center;
    font-family: 'Henny Penny', cursive;
}
.active{
    background-color: #00b300;
}
